.card-color {
    color: #fff;
    background-color: rgba(255,255,255,0.15) !important;
    border: 0px solid transparent !important;
    border-radius: 6px !important;
    
}

.video-react .video-react-video {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.info-heading button{
    height: 50px;
    width: 100%;
    color: #141630;
    font-family: "HKGrotesk-SemiBoldLegacy" !important; 
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 19px;
    background: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    border: 0;
}

.info-heading button:focus {
    outline: none !important;
}

.custom-width {
    max-width: 1192px !important;
}

.custom-width-full {
    width: 100% !important;
}

.lesson-info-blurb {
    width: 1192px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.info-blurb-img {
    width: 157px !important;
    height: auto !important;
}

.h4or5 {
font-size: 20px !important;
}

.lesson-details {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px !important;
    text-transform: uppercase;
}

.coach-blurb {
    color: #fff;
    background-color: rgba(255,255,255,0.15);
    border: 0px solid transparent;
    border-radius: 6px;
}

.coach-blurb-img {
    width: 87px;
    height: auto;
}

.coach-blurb-desc .title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.accordion {
    background-color: #fff !important;
    border-radius: 6px !important;
    color: #141630;
}

.accordion-body {
    padding: 0px !important;
    font-size: 14px !important;
}

.accordion-button {
    height: 80px !important;
    text-align: left !important;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(20, 22, 48, 0.4) !important;
}

.accordion-button:not(.collapsed) {
    color: #141630 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../assets/icons/class_details_arrow_up copy.svg") !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}