.snapshot-card {
    color: #141630;
    font-family: "HKGrotesk-SemiBoldLegacy"; 
   
}

.custom-card-styles {
     border: 0px transparent;
}

.snapshot-card-title {
        font-size: 16px;
        text-decoration: underline;
}

.snapshot-card-desc {
    font-size: 14px;
}