.navbar-main{
    //height: auto !important;
}

.nav-link {
    color: #141630 !important;
    width: max-content;
    font-size: 16px;
}

.page-container {
    color: black;
    background-color: black;
    background-image: linear-gradient(to right, #141630 , #1F2350);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-logo {
    width: 72px;
    height: 72px;
}

.s-search {
    width: 28px;
}



// @media (min-width: 1200px){
//   .page-container {
//     max-width: 1351px;
// }  
// }

// @media (max-width: 992px){
//   .page-container {
//     max-width: 960px;
// }  
// }

// @media (max-width: 768px){
//     .page-container {
//     max-width: 720px;
// }
// }

// @media (max-width: 576px){
//  .page-container {
//     max-width: 540px;
// }   
// }

