.copyright {
    line-height: 36px;
    bottom: -15px;
    background-color: black;
    background-image: linear-gradient(to right, #141630 , #1F2350);
}

.copyright-text {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.links ul li a, .location a {
    color: #191B34;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    text-decoration: none !important;
}

.links ul li a:hover, .location a:hover { 
    text-decoration: none;
}