@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@font-face {
    font-family: "HKGrotesk-SemiBoldLegacy";   /*Can be any text*/
    src: local("HKGrotesk-SemiBoldLegacy"),
      url("../src/assets/fonts/HKGrotesk-SemiBoldLegacy.woff2") format("woff2");
  }

body {
    overflow-x: hidden; 
    font-family: 'Work Sans' !important;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HKGrotesk-SemiBoldLegacy"; 
}

p {
    font-size: 14px;
}

.app-container {
    height: 100%;
    width: 100%;
}

.cml-6 {
    margin-left: 4rem!important;  
}

.cml-7 {
    margin-left: 5rem!important;  
}

.cml-8 {
    margin-left: 6rem!important;  
}